doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="style.css")
        title Focus image
    body
        mixin caja(name)
            div 
                img(src="img/Fondo.jpg", usemap="#zoom")
                ul 
                    li(coords='object-fit: none; object-position: 5% 20%;')
                    li(coords='object-fit: none; object-position: 95% 20%')
                    li(coords='object-fit: none; object-position: 20% 100%')
                    li(coords='object-fit: none; object-position: 85% 100%')
                    li(coords='object-fit: none; object-position: 50% 60%')
                    li(coords='object-fit: none; object-position: 50% 0%;')
                    li(coords='object-fit: none; object-position: 100% 60%;')
                    li(coords='object-fit: none; object-position: 50% 100%;')
                    li(coords='object-fit: none; object-position: 0% 55%;')
        
        +caja(1)
        script(src="main.js")
        
        